body { 
    padding-top: 70px; 

}
.thumbnail {
    height:300px;
    padding:10px;
}

.global-alerts {
    position: fixed;
    top: 64px;
    right: 3%;
    z-index: 2000;
    width: 33%;
    background: transparent; 
}
    .global-alerts .alert {
    margin-bottom: 0;
    border-radius: 0; 
    }
@media (min-width: 1200px) {
    .current-weather {
        position: fixed;
        top: 64px;
        z-index: 2000;
        left: 1%;
        background: transparent;
        margin-bottom: 0;
        border-radius: 0;
    }
}